.general {
    min-width: 1139px;
}

body {
    display: block;
    color: #333333;
    background-color: #ffffff;
    line-height: 1.5;
    margin: 0;
    background-color: #f0e8e8;
}

html {
    font-size: 12px;
}