.bluefenge {
    position: relative;
}

.navbar {
    position: relative;
    min-width: 900px;
    height: 45px;
}

.navbar .navbar-bg {
    position: absolute;
    width: 100%;
    height: 245px;
    transition: .3s;
}

.navbar-bg-top {
    position: relative;
    height: 43px;
    border-top: 1px solid #5895d5;
    border-bottom: 1px solid #3b92e9;
    background: #459df5;
}

.navbar-bg .navbar-bg-top .blue-bar {
    position: relative;
    top: 0;
    margin-left: 100px;
    width: 100%;
}

dl dt {
    height: 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

dd {
    margin-inline-start: 0;
}

dl dd {
    padding: 11px 0 10px;
    height: 180px;
}

dl dt:hover~dd div {
    display: inherit;
    background-color: #459df5;
}

dl dd div a {
    padding-bottom: 3px;
    color: #a2c9f0;
}

dl dd div {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    display: none;
}

.cat dd div {
    display: none;
    margin-left: 15px;
}

.index, .cat, .second-know, .special, .user, .cooperation {
    position: relative;
    float: left;
}

.index a, .cat a, .second-know a, .special a, .user a, .cooperation a {
    color: #ffffff;
}

.index dd, .cat dd, .user dd {
    width: 103px;
}



.index dt, .cat dt, .user dt {
    width: 102px;
}

.second-know dt, .special dt, .cooperation dt {
    width: 134px;
}